@font-face {
  font-family: "Haffer XH";
  src: url("HafferXH-Light.woff2") format("woff2"),
    url("HafferXH-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haffer XH";
  src: url("HafferXH-Regular.woff2") format("woff2"),
    url("HafferXH-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
