@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Special+Elite&display=swap");
html,
body {
  height: 100%;
}
* {
  font-family: "Manrope";
}

.app-text {
  @apply text-base sm:text-lg lg:text-xl font-light;
}

.app-frame {
  @apply col-span-12 sm:col-span-10 sm:col-start-2 lg:col-span-8 lg:col-start-3;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0px;
  border: 0 solid orange;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 1px !important;
  height: 1rem !important;
  border-radius: 0 !important;
  margin: 0 !important;
  background: white;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 1px !important;
  height: 1rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  width: 1px !important;
  height: 1rem !important;
  margin: 0 !important;
}

@media (max-width: 640px) and (orientation: landscape) {
  .keyboard-off {
    display: none;
  }
}
/*media query to detect orientation change*/
@media screen and (orientation: landscape) {
}
