@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Special+Elite&display=swap");
html,
body {
  height: 100%;
}
* {
  font-family: "Manrope";
}

.app-text {
  @apply text-base sm:text-lg lg:text-xl font-light;
}

.app-frame {
  @apply col-span-10 col-start-2 lg:col-span-8 lg:col-start-3;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0px;
  border: 0 solid orange;
}
